<!DOCTYPE html>
<html lang="en">
<head >

  <link rel="stylesheet" href="/css/bootstrap.min.css"/>

</head>
<body style="background-image: url('/img/background.jpg')" >

<h1 class="text-white text-center" >Oops, something went wrong!</h1>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <img src="https://media.tenor.com/0-Ymgj2Lw60AAAAd/death-star-star-wars.gif" alt="" class="img-fluid">
      <a href="/" class="d-block mt-3 display-4 ">Go back</a>
    </div>
  </div>
</div>

</body>
</html>