body {
    background-image: url('/img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
background-color: rgba(210, 187, 187, 0.6);
}

/* Dropdown Button */
.dropbtn {
    background-color: rgba(210, 187, 187, 0.6);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}


.top-margin{
    margin-top: 2%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(210, 187, 187, 0.6);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #b4aeae;}

/* Admin view */

.user-block{
    background-color: rgba(210, 187, 187, 0.6);
    width: 30%;
    margin: 10px auto;
}

.admin-list{
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.admin-list li {
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.admin-list li p {
    display: inline-block;
    margin: 0 0 0 10px;
}
p{
    color: white;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-row {
    display: flex;
    align-items: center;
}

select {
     margin-right: 10px;
 }

/*  Book */

.book-font{
    font-size: x-large;
}

.user-block-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-size-profile{
    margin: 10px;
    max-width: 100%;
    height: auto;
    max-height: 300px;

}

h2{
    color: white;
    text-align: center;
    background-color: rgba(210, 187, 187, 0.6);
    margin: 10px 0;
}

.login-form{
    width: 20%;
    margin: 10px auto;
    border-radius: 5%
}

.small-login{
    margin-top: 15px;
    color: red;
    font-size: large;
}

.login-label{
    display: block;
    text-align: center;
    margin: 14px 10px 18px 10px;
    color: white;
    font-weight: bold;
    font-size: x-large;
}

.login-input{
    width: 80%;
    display: block;
    margin: auto;
}

.img-size{
    height: 300px;
    margin-right: 20px;
}

.liboo-submit{
    margin: 10px 75px;
    color: white;
    background: darkgray;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px lightgray;
    border-radius: 8%;
    cursor: pointer;
    font-size: x-large;
}

small{
    display: block;
    text-align: center;
}

form{
    background-color: rgba(210, 187, 187, 0.6);

}


nav li a {
    color: white;
    text-decoration: none;
    font-family: "Lato Semibold", sans-serif;
}



a {
    color: white;
    text-decoration: none;
    font-family: "Lato Semibold", sans-serif;
}


h1 {
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    margin: 10px;
}

h5 {
    text-align: center;
    vertical-align: middle;
    color: #ffffff;

}

input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    align-items: center;
}



