<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">

    <title>Add Author</title>
</head>
<body>

<header th:replace="~{fragments/navigation}"></header>
<ul th:replace="~{fragments/librarian-navigation}" ></ul>
<form class="login-form"
        th:action="@{/librarian/add-author}"
        th:method="POST"
        th:object="${authorCreateDto}"
>

    <label class="login-label" >Author Name</label>

    <input class="login-input" th:field="*{name}"
           name="name"
           type="text">

    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  class="small-login" ></small>

    <label class="login-label" > Information</label>

    <input
            class="login-input"
            th:field="*{information}"
            name="information"
            type="text">

    <small th:if="${#fields.hasErrors('information')}" th:errors="*{information}" class="small-login" > </small>

    <label class="login-label" > Author Picture URL</label>

    <input class="login-input"
            th:field="*{profilePicture}"
            name="profilePicture"
            type="text"
    >
    <small th:if="${#fields.hasErrors('profilePicture')}" th:errors="*{profilePicture}" class="small-login" > </small>
<div class="text-center" >
    <button class="liboo-submit" >Submit</button>
</div>
</form>

</body>
</html>