<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
    <meta charset="UTF-8">
    <title>Author View</title>
</head>
<body>

<header th:replace="~{fragments/navigation}"></header>

<div th:object="${author}" class="d-flex align-items-center">
    <img class="img-size me-4" th:src="*{profilePicture}" alt="">
    <div style="color:white;">
        <h4 class="mb-1 fw-bold  " th:text="*{name}"></h4>
        <p class="mb-0" th:text="*{information}" style="max-width: 250px;"></p>
    </div>
</div>


<div class="d-flex" >
    <div class="float-left" th:each="book:${author.books}" th:object="${book}">
        <a th:href="@{/book/{bookId} (bookId=*{id})}" style="display:flex; flex-direction:column;">
            <p class="text-center book-font" th:text="*{title}" ></p>
            <img class="img-size" th:src="*{imageUrl}" alt="Book cover" />
        </a>
    </div>
</div>

</body>
</html>