<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">

    <title>Librarian</title>
</head>
<body>

<header th:replace="~{fragments/navigation}"></header>


<form class="login-form" th:action="@{/user/books}">
    <h5>Please type the book name</h5>
    <input class="login-input" type="text"  th:name="keyword">
    <div class="text-center" >
    <button class="liboo-submit">Search</button>
    </div>
</form>

<div class="d-flex justify-content-center" >
    <div class="float-left" th:each="book:${books}" th:object="${book}">
        <a th:href="@{/book/{bookId} (bookId=*{id})}" style="display:flex; flex-direction:column;">
            <p class="text-center book-font" th:text="*{title}" ></p>
            <img class="img-size" th:src="*{imageUrl}" alt="Book cover" />
        </a>
    </div>
</div>
</body>
</html>