<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">

    <title>Login</title>

</head>
<body>

<header th:replace="~{fragments/navigation}"></header>

<form
        th:method="POST"
        th:action="@{/user/login}"
        th:object="${userLoginDto}"
>

    <h1>Please Login</h1>
    <label> Username
        <input
                th:field="*{username}"
                name="username">
    </label>

    <label>Password
        <input
                th:field="*{password}"
                name="password"
                type="password"
                id="password"
        >
    </label>

    <small th:if="${bad_credentials}">
        Invalid username or password!

    </small>
    <button type="submit">Login</button>
</form>

</body>
</html>