<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">

    <title>Login</title>

</head>
<body>

<header th:replace="~{fragments/navigation}"></header>

<form class="login-form"
        th:method="POST"
        th:action="@{/user/login}"
        th:object="${userLoginDto}"
>

    <h1>Please Login</h1>
    <label class="login-label"> Username</label>

    <input class="login-input"
            th:field="*{username}"
            name="username">

    <label class="login-label" >Password

    </label>

    <input class="login-input"
           th:field="*{password}"
           name="password"
           type="password"
           id="password"
    >

    <small class="small-login" th:if="${bad_credentials}">
        Invalid username or password!

    </small>
    <button class="liboo-submit" type="submit">Login</button>
</form>

</body>
</html>