<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>


<body>

<header th:replace="~{fragments/navigation}"></header>

<form
        th:method="POST"
        th:action="@{/user/register}"
        th:object="${userRegisterDto}">

    <h1>Please Register</h1>
    <div>
        <label> Username </label>
    </div>
    <input
            th:field="*{username}"

            id="username"
            name="username"/>
    <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="bg-danger"></small>

    <div>
        <label> Email </label>
    </div>
    <input
            th:field="*{email}"
            name="email"
    >
    <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="bg-danger"></small>
    <div>
        <label> Password </label>
    </div>
    <input
            th:field="*{password}"
            name="password"
    >
    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="bg-danger"></small>
    <div>
        <label> Confirm Password </label>
    </div>
    <input
            th:field="*{confirmPassword}"
            name="confirmPassword"
    >
    <div>
        <button>Register</button>
    </div>
</form>

</body>
</html>