<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>


<body>

<header th:replace="~{fragments/navigation}"></header>

<form
        th:method="POST"
        th:action="@{/user/register}"
        th:object="${userRegisterDto}">

    <h1>Please Register</h1>

    <label> Username

        <input
                th:field="*{username}"

                id="username"
                name="username"/>
    </label>

    <label > Full Name

        <input
        th:field="*{fullName}"
        id="fullName"
        name="fullName"/>


    </label>
    <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="bg-danger"></small>


    <label> Email

        <input
                th:field="*{email}"
                name="email"
        >
    </label>
    <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="bg-danger"></small>

        <label> Password

    <input
            th:field="*{password}"
            name="password"
            type="password"
    >
        </label>
    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="bg-danger"></small>

        <label> Confirm Password

    <input
            th:field="*{confirmPassword}"
            name="confirmPassword"
            type="password"
    >
        </label>
    <div>
        <button>Register</button>
    </div>
</form>

</body>
</html>